+swiper('widgetAuto', false, true, false, true)(class="swiper-container product-slider")
    -for(var i=0; i<8; i++)
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-1.png', dirFrontend + 'images/product/img-1.png', dirFrontend + 'images/product/img-1.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Spotify
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-2.png', dirFrontend + 'images/product/img-2.png', dirFrontend + 'images/product/img-2.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Netflix
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Starting from
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-3.png', dirFrontend + 'images/product/img-3.png', dirFrontend + 'images/product/img-3.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Netflix
                            span.card-subtitle All in One
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Starting from
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-4.png', dirFrontend + 'images/product/img-4.png', dirFrontend + 'images/product/img-4.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Busuu
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Only
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More

        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-5.png', dirFrontend + 'images/product/img-5.png', dirFrontend + 'images/product/img-5.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Spotify
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-6.png', dirFrontend + 'images/product/img-6.png', dirFrontend + 'images/product/img-6.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Netflix
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Starting from
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-7.png', dirFrontend + 'images/product/img-7.png', dirFrontend + 'images/product/img-7.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Netflix
                            span.card-subtitle All in One
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Starting from
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        
        li.swiper-slide
            .card.card-prd.d-flex.flex-column.justify-content-end
                .card-media.position-relative
                    +picture('ratio ratio-1x1', lazy="true", dirFrontend + 'images/product/img-8.png', dirFrontend + 'images/product/img-8.png', dirFrontend + 'images/product/img-8.png')(class="w-100 img-fluid", alt="slide 1")
                .card-body.d-flex.flex-column.justify-content-end
                    .card-body-title-box.d-flex.justify-content-between
                        .card-body-title.d-flex.flex-column.justify-content-start
                            p.card-title.m-0 Busuu
                            span.card-subtitle All in One
                            div.card-stars-box.card-stars-box-3
                                +icon("rate").rateicon-1
                                +icon("rate").rateicon-2
                                +icon("rate").rateicon-3
                                +icon("rate").rateicon-4
                                +icon("rate").rateicon-5
                                span.card-stars-box-text 256 Reviews
                        button.btn.p-0.btn-fav.selected(type="button").ms-10
                            svg.stroke-icon(viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9873 9.65527C23.511 9.1788 22.9456 8.80083 22.3232 8.54295C21.7008 8.28507 21.0338 8.15234 20.3601 8.15234C19.6864 8.15234 19.0194 8.28507 18.397 8.54295C17.7746 8.80083 17.2092 9.1788 16.7329 9.65527L15.7445 10.6436L14.7562 9.65527C13.7942 8.69328 12.4894 8.15284 11.129 8.15284C9.76853 8.15284 8.4638 8.69328 7.50181 9.65527C6.53983 10.6173 5.99939 11.922 5.99939 13.2824C5.99939 14.6429 6.53983 15.9476 7.50181 16.9096L8.4902 17.898L15.7445 25.1523L22.9989 17.898L23.9873 16.9096C24.4637 16.4334 24.8417 15.8679 25.0996 15.2455C25.3575 14.6232 25.4902 13.9561 25.4902 13.2824C25.4902 12.6088 25.3575 11.9417 25.0996 11.3193C24.8417 10.697 24.4637 10.1315 23.9873 9.65527Z')
                    
                    p.cart-content-text.m-0 it operates the over-the-top subscription video on-demand service.. 
                    a.cart-content-link(href="product-detail.html") See More 
                .card-footer.d-flex.align-items-center.justify-content-between
                    .card-price.d-flex.flex-column.justify-content-start
                        span.discount-rate.fs-12.fs-lg-14.fw-400 Only
                        span.card-price-last.fs-14.fs-lg-16.fw-600.text-white $9.90 #{currencyText}
                        
                    a.btn.btn-them-1.btn-md(href="/")
                        span Learn More
        